body {
  background-color: black;
  color: white;
}

.card {
  background-color: rgba(128, 128, 128, 0.2);
  margin-top: 25px;
}

.nav-contain {
  width: 100%;
}

nav {
  border-bottom: .5px solid grey;
}

nav, nav a, .navbar-brand {
  background-color: black;
  color: white;
}

.navbar-brand {
  float: left;
}

.nav-right {
 float: right; 
}

.nav-right a {
  padding: 0px 5px 0px 5px;
}