body {
  background-color: indigo;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  text-shadow: 1px 1px black;
}

.card {
  background-color: black;
  margin-top: 25px;
  border: 1px solid rgb(131, 131, 131);
  border-radius: 20px;
  z-index: 100;
}

.card-body {
  background-color: rgba(128, 128, 128, 0.5);
}

.comments-link {
  color: white;
  text-shadow: 1px 1px black;
}

.comments-link:hover {
  color: black;
  text-shadow: none;
  text-decoration: none;
}

.nav-contain {
  width: 100%;
}

nav {
  border-bottom: .5px solid grey;
  background-color: black;
  z-index: 100;
}

nav, nav a, .navbar-brand {
  background-color: black;
  color: white;
}

.navbar-brand {
  float: left;
}

.nav-right {
 float: right; 
}

.nav-right a {
  padding: 0px 5px 0px 5px;
}